{{- $title := cond .IsHome (printf "%s: launcher and command palette plugin" site.Title) (printf "%s | %s" .Title site.Title) -}}
{{- $desc := .Description | default site.Params.description -}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ $title }}</title>
<meta name="description" content="{{ $desc }}">
<meta name="author" content="{{ site.Params.author }}">
{{ with .Params.robots }}<meta name="robots" content="{{ . }}">
{{ end -}}
<meta name="theme-color" content="#05060f">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="{{ "favicon.svg" | relURL }}" type="image/svg+xml">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ "og.jpg" | absURL }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="Spotlight open on an Omarchy desktop">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $desc }}">
<meta name="twitter:image" content="{{ "og.jpg" | absURL }}">
{{ if .IsHome }}{{ partial "schema.html" . }}{{ end }}
{{- range slice "inter-latin" "space-grotesk-latin" "jetbrains-mono-latin" }}
<link rel="preload" href="{{ printf "fonts/%s.woff2" . | relURL }}" as="font" type="font/woff2" crossorigin>
{{- end }}
{{ with resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
{{ end }}
<script
    src="https://cdn.databuddy.cc/databuddy.js"
    data-client-id="1DL7tse_ZTnMsjrVbv_Bp"
    data-track-hash-changes="true"
    data-track-attributes="true"
    data-track-outgoing-links="true"
    data-track-interactions="true"
    data-track-web-vitals="true"
    data-track-errors="true"
    crossorigin="anonymous"
    async
  ></script>
